
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
  color: #7e7a7a;
  background-color: aqua;
}

.parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
} 
.card {
  margin: 1rem;
  padding: 1rem;
  width: 250px;
  border-radius: 8px;
  border: 1px solid #111;
  text-align: center;
  background-color: #fff;
}
.card button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
}
.card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}
